*.suo
*.user
*.cachefile
*.xnb
*.sln.docstates
*.cache
*.pyc
*.ncrunchproject
*.ncrunchsolution

_Resharper.*
_NCrunch_ZSharp.*
packages.*
_ReSharper.Caches.*

ZSharp/bin
ZSharp/obj

ZSharp.Test/bin
ZSharp.Test/obj
